.img-logo{
height:105px;
width: 540px;	
}

.image{
	width:235px;
	height:418px;
	position:relative;
	top:10%;
	left:40%;
}

.span-center{
	 display: block; 
     text-align: center;
}

.span-right{
	 display: block; 
     margin-left:65%;
}

.span-left{
	 display: block; 
     margin-left:0%;
}

.span-etatcivil{
	 display: block; 
     margin-left:25%;
}

.span-coordonnee{
     display: block; 
     margin-left:25%;
}